body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
.in--first:before,
.in--left:before,
.in--right:before {
  position: absolute;
  content: '';
  height: 12px;
  width: 12px;
  border-radius: 100%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 3;
}
.in--left:before,
.in--right:before {
  background-color: #95a5a6;
  border: 2px solid #bdc3c7;
  margin-top: 200px;
}
.in--first:before {
  background-color: #2ecc71;
  border: 2px solid #fff;
  animation: flicker 2.1s infinite;
  margin-top: -4px !important;
}
.in--left:after,
.in--right:after,
.in--first:after {
  position: absolute;
  content: '';
  display: block;
  border: 0.3px dashed #999999;
  transform: rotateZ(90deg);
  height: 75px;
}
.in--left:after {
  margin-top: -225px;
  left: calc(50% - 39px);
}
.in--right:after {
  margin-top: -225px;
  right: calc(50% - 39px);
}
.in--first:after {
  margin-top: -429px;
  right: calc(50% - 39px);
}
.in--first.in--left:after {
  left: calc(50% - 39px);
  right: auto;
}
.in--first__init > .in--first:after {
  margin-top: -470px;
}

@keyframes flicker {
  0% {
    background-color: #2ecc71;
    border: 2px solid #ecf0f1;
  }
  50% {
    background-color: #1abc9c;
    border: 2px solid #f1c40f;
  }
  100% {
    background-color: #16a085;
    border: 2px solid #fff;
  }
}

@media only screen and (max-width: 1024px) {
  .in--left:after,
  .in--right:after,
  .in--first:after {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .in--first:before,
  .in--left:before,
  .in--right:before {
    left: 3%;
  }
  .in--left:after,
  .in--right:after,
  .in--first:after {
    display: none;
  }
  /* .in--left:after {
    margin-top: -207px;
    left: calc(50% - 18px);
  }
  .in--right:after {
    margin-top: -207px;
    right: calc(50% - 18px);
  }
  .in--first:after {
    margin-top: -431px;
    right: calc(50% - 18px);
  }
  .in--first.in--left:after {
    left: calc(50% - 18px);
    right: auto;
  }
  .in--first__init > .in--first:after {
    margin-top: -521px;
  } */
}