body {
  margin: 0;
  padding: 0;
  font-family: serif;
}
.in--first:before {
  position: absolute;
  content: '';
  background-color: #3fb0ac;
  height: 12px;
  width: 12px;
  border-radius: 100%;
  border: 2px solid #fff;
  left: 50%;
  margin-top: -4px;
  transform: translate(-50%, 50%);
  z-index: 2;
}